@import 'simple-color-picker/src/simple-color-picker.css';

$font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  background: #0e212f;
  font-family: $font-family;
  color: white;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

small {
  font-size: 0.5em;
}

.logo {
  width: 200px;
}

.main {
  width: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.button {
  width: 150px;
  height: 50px;
  color: white;
  background-color: #ffc20a;
  border: 0;
  margin-top: 20px;
  border-radius: 4px;
  font-family: $font-family;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken(#ffc20a, 5%);
  }
}
